{% load client_status_tags tz %}
{% if object %}
<span class="status-wrapper">
    {% include object.status|status_template %}
    <span class="status-text">
        {% if object.case_form_is_opnieuw_ingediend %}
        Opnieuw ingediend
        {% else %}
        {{ object.status|status_verbose }}
        {% endif %}
        <small>({{ object.created|timezone:FRONTEND_TIMEZONE|date:DATE_FORMAT }})</small>
    </span>
    {% else %}
    <span>
        Nog niet ingediend
    </span>
    {% endif %}
</span>
